.input {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: var(--text);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);

width: 272px;
height: 36px;
padding-top: 8px;
padding-right: 8.8px;
padding-bottom: 9px;
padding-left: 8.8px;

}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24);
}

.invalid {
  box-shadow: 0px 0px 0px 1px rgba(221, 21, 21, 1);
}
