.client-layout {
  background-image: url('../../assets/Client/background-image_client.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  transition: background-position 0.5s ease;
}

@media (max-width: 768px) {
  .client-layout {
    background-position: 80% center; 
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 990px;
  width: 100%;
  margin: auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 16px;
  box-sizing: border-box;
}

.authButtons {
  display: flex;
}

.authButton {
    padding: 12px 24px;
}
