.client-layout {
  background-image: url('../../assets/Client/background-image_client.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 990px;
  width: 100%;
  margin: auto;
  padding: 0 16px;
  box-sizing: border-box;
}