.timeline {
    position: relative;
    height: 60px;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    
}

.timeline.drag-over {
    background-color: rgba(240, 248, 255, 0.7);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.24);
}

.halls {
    width: 100%;
}

.hall-name {
    font-weight: var(--font-medium);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 12px;
    width: 100%;
}

@media (max-width: 480px) {
    .timeline {
        height: 70px;
        padding-left: 8px;
        padding-right: 8px;
        overflow-x: hidden;
    }
    .hall-name {
        padding-left: 8px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
    .timeline {
        width: 746px;
        max-width: 746px;
    }
    .hall-name {
        width: 746px;
        max-width: 746px;
        padding-left: 12px;
    }
}
