.form {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Roboto;
    font-weight: var(--font-normal);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
}

.halls {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.hall {
    font-weight: var(--font-medium);   
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.45);
    padding: 13px 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    cursor: pointer;
}

.hall:hover {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.hall_active {
    font-weight: var(--font-black);   
    font-size: 15px;
    background: var(--white);
    padding: 15px 23px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.inputs {
    display: flex;
    flex-direction: column;
    
    gap: 13px;
}

.input {
    display: flex;
    flex-direction: column;
}

.priceInput {
    width: 74px;
    height: 36px;
}

.input input {
    width: 74px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #B7B7B7;
}

.field {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.field label {
    font-weight: var(--font-normal);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
    vertical-align: middle;
    color: var(--text-secondary);
    margin-right: 4px;
    flex-basis: 100%;
    margin-bottom: 4px;
    display: block;
    width: 100%;
}

.chair {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    font-weight: var(--font-normal);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    vertical-align: middle;
}

.field input { margin-right: 4px; }
.field span { margin: 0 3px; display: inline-flex; align-items: flex-end; }
.field img { margin: 0 3px; display: inline-flex; align-items: flex-end; }

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center
}

.loading {
    height: 100%;
    min-height: 46px;
}

@media (max-width: 390px) {
    .halls {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .halls {
        justify-content: flex-start;
    }
    .priceInput {
        width: 100px !important;
    }
    .input input {
        width: 100px !important;
    }
    .field {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
    }
    .field label { margin-right: 4px; white-space: nowrap; }
    .field input { margin-right: 4px; }
    .field span { margin: 0 3px; }
    .field img { margin: 0 3px; }
    .field span:last-child { white-space: nowrap; }
}
@media (max-width: 480px) {
    .header {
        align-items: flex-start !important;
        text-align: left !important;
    }
    .prices {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .field {
        display: inline-block !important;
        margin: 8px !important;
    }
    .buttons {
        justify-content: center !important;
        gap: 18px !important;
    }
}
