.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 990px;
  background: var(--background-client);
  padding: 20px 15px 30px;
  position: relative;
}

.container::before {
  content: '';
  /* Исправляем путь */
  background-image: url('../../assets/Client/circle-top-ticket.png');
  background-size: 9px;
  position: absolute;
  width: 100%;
  height: 3px;
  top: -2px;
  left: 0;
}

.container::after {
  content: '';
  /* Исправляем путь */
  background-image: url('../../assets/Client/circle-bot-ticket.png');
  background-size: 9px;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

.label {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.value {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}

.total {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}

.button {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.hint {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 1.4;
}
